<a href="https://colab.research.google.com/github/dayanajhdz-prog/estadistica-2/blob/main/Salarios/Salarios_Dayana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pad
link="https://raw.githubusercontent.com/dayanajhdz-prog/estadistica-2/refs/heads/main/Salary/Salary.csv"
df=pad.read_csv(link)
df

    Años_de_experiencia  Salario
0                   1.1    39343
1                   1.3    46205
2                   1.5    37731
3                   2.0    43525
4                   2.2    39891
5                   2.9    56642
6                   3.0    60150
7                   3.2    54445
8                   3.2    64445
9                   3.7    57189
10                  3.9    63218
11                  4.0    55794
12                  4.0    56957
13                  4.1    57081
14                  4.5    61111
15                  4.9    67938
16                  5.1    66029
17                  5.3    83088
18                  5.9    81363
19                  6.0    93940
20                  6.8    91738
21                  7.1    98273
22                  7.9   101302
23                  8.2   113812
24                  8.7   109431
25                  9.0   105582
26                  9.5   116969
27                  9.6   112635
28                 10.3   122391
29                 10.5   121872
30                 11.2   127345
31                 11.5   126756
32                 12.3   128765
33                 12.9   135675
34                 13.5   139465